LANGUAGE RES_LANG, RES_SUBLANG

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VERSION
PRODUCTVERSION  VERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
BLOCK "StringFileInfo"
BEGIN
	BLOCK FILE_LANGUAGE
	BEGIN
		VALUE "CompanyName",      "Torto"
		VALUE "FileDescription",  FILE_DESCRIPTION
		VALUE "FileVersion",      VERSION_STR
		VALUE "InternalName",     "TbConf"
		VALUE "LegalCopyright",   FILE_COPYRIGHT
		VALUE "OriginalFilename", "TbConf.exe"
		VALUE "ProductName",      PRODUCT_NAME
		VALUE "ProductVersion",   VERSION_STR
	END
END
BLOCK "VarFileInfo"
BEGIN
	VALUE "Translation", RES_LANG, RES_SUBLANG
END
END

IDD_TB DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_TB
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

GROUPBOX S_TB, IDC_STATIC, 7, 5, PAGE_WIDTH - 14, 138
AUTOCHECKBOX S_TB_LOCK, IDC_TB_LOCK, 13, 17, PAGE_WIDTH - 26, 10
AUTOCHECKBOX S_TB_AUTOHIDE, IDC_TB_AUTOHIDE, 13, 31, PAGE_WIDTH - 26, 10
AUTOCHECKBOX S_TB_SMALLBUTTONS, IDC_TB_SMALLBUTTONS, 13, 45, PAGE_WIDTH - 26, 10
AUTOCHECKBOX S_TB_BADGES, IDC_TB_BADGES, 13, 59, PAGE_WIDTH - 26, 10
LTEXT S_TB_LOCATION, IDC_STATIC, 13, 76, 100, 10
COMBOBOX IDC_TB_LOCATION, 104, 73, PAGE_WIDTH - 117, 14, CBS_LIST
LTEXT S_TB_COMBINEBUTTONS, IDC_STATIC, 13, 92, 100, 10
COMBOBOX IDC_TB_COMBINEBUTTONS, 104, 89, PAGE_WIDTH - 117, 14, CBS_LIST
LTEXT S_TB_TRAYWND, IDC_STATIC, 13, 108, 100, 10
PUSHBUTTON S_TB_TRAYWND_CUSTOMIZE, IDC_TB_TRAYWND, 104, 104, 56, 14
AUTOCHECKBOX S_TB_PEEK, IDC_TB_PEEK, 13, 122, PAGE_WIDTH - 26, 16, BS_MULTILINE

GROUPBOX S_TB_MM, IDC_STATIC, 7, 148, PAGE_WIDTH - 14, 88
AUTOCHECKBOX S_TB_ALLDISPLAYS, IDC_TB_ALLDISPLAYS, 13, 159, PAGE_WIDTH - 26, 10
LTEXT S_TB_MMDISPLAYS, IDC_STATIC, 13, 174, PAGE_WIDTH - 26, 10
COMBOBOX IDC_TB_MMDISPLAYS, 13, 186, PAGE_WIDTH - 26, 14, CBS_LIST
LTEXT S_TB_MMCOMBINEBUTTONS, IDC_STATIC, 13, 205, PAGE_WIDTH - 26, 10
COMBOBOX IDC_TB_MMCOMBINEBUTTONS, 13, 217, PAGE_WIDTH - 26, 14, CBS_LIST

END

IDD_MISC DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_MISC
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

GROUPBOX S_MISC_NAVIGATION, IDC_STATIC, 7, 5, PAGE_WIDTH - 14, 32
AUTOCHECKBOX S_MISC_WINXPOWERSHELL, IDC_MISC_WINXPOWERSHELL,
	13, 16, PAGE_WIDTH - 26, 16, BS_MULTILINE

LTEXT S_MISC_RESTARTHELP, IDC_STATIC, 7, PAGE_HEIGHT - 30, PAGE_WIDTH - 14, 10
CONTROL S_MISC_RESTARTEXPLORER, IDC_STATIC, WC_LINK, 0,
	7, PAGE_HEIGHT - 16, PAGE_WIDTH - 14, 10
END

STRINGTABLE
BEGIN
IDS_PROPSHEET_NAME  S_TB
IDS_ERROR           S_ERROR
IDS_ERROR_GENERIC   S_ERROR_GENERIC
IDS_ERROR_MEM       S_ERROR_MEM
END

STRINGTABLE
BEGIN
IDS_TB_POS_L S_TB_POS_L
IDS_TB_POS_T S_TB_POS_T
IDS_TB_POS_R S_TB_POS_R
IDS_TB_POS_B S_TB_POS_B
IDS_TB_COMB_YES S_TB_COMB_YES
IDS_TB_COMB_FULL S_TB_COMB_FULL
IDS_TB_COMB_NO S_TB_COMB_NO
IDS_TB_MMALL S_TB_MMALL
IDS_TB_MMMAIN S_TB_MMMAIN
IDS_TB_MMCUR S_TB_MMCUR
END
